.turbo
*.tsbuildinfo

# dependencies
node_modules

# env
.env
.env.*
!.env.example
.env.local

# next.js
.next
out

# build
dist
build

# logs
*.log

# system
.DS_Store

# prisma
prisma/dev.db

# misc
coverage

# testing and stuff 
CLAUDE.md
claude.md
*.prompt.md